.comment-container {
    margin: 10px 10px 10px 24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border: 1px solid #e8e8e8;
    width: 70%;
}

.mt-8 {
    margin-top: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.del-btn {
    position: absolute;
    right: -29px;
    bottom: 80%;
    /* background: #e6e6e6; */
    border-radius: 50%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.btn-container {
    position: relative;
}

.reply {
    /* margin-left: 24px; */
    display: flex;
    flex-direction: column;
    margin: 12px 12px 12px 48px;
    padding: 12px;
    background: #f6f6f6;
    border: 1px solid #e8e8e8;
    /* position: relative; */
    /* padding-top: 0; */
    width: 70%;
}

.jcsb {
    justify-content: space-between;
}

.w-70 {
    width: 70%;
}

.ml-48 {
    margin-left: 48px;
}

.fs-12 {
    font-size: 12px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}